.container{
    padding:5%;
}
.login-form{
    border: 2px solid lightblue;
    box-shadow: 0 0 1px lightblue, 0 0 2px lightblue,
    0 0 6px lightblue, 0 0 12px lightblue,
    inset 0 0 1px lightblue,
    inset 0 0 2px lightblue,
    inset 0 0 6px lightblue,
    inset 0 0 12px lightblue;
}
.reg-form{
    border: 2px solid lightgreen;
    box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51,
    0 0 6px #b3ff51,
    0 0 12px #b3ff51,
    inset 0 0 1px #b3ff51,
    inset 0 0 2px #b3ff51,
    inset 0 0 6px #b3ff51,
    inset 0 0 12px #b3ff51;
}
*{
    font-family: 'Patua One', cursive;
}
.list{
    margin: 20px;
}
.list .container{
    box-shadow: 0 0 20px;
    padding: 50px;
    background-color: white;
}
.list .col-md-3{
    opacity: .5;
    transition: .5s;
    transform: scale(.9);
    position: relative;
}
.list .col-md-3:hover{
    opacity: 1;
    transform: scale(1);
}
.col-md-3:hover .centered{
    opacity: 1;
    transform: scale(3);
}
#asd
{
    position: fixed; width: 100%; z-index: +1;
}
.searchBook input[type=text] {
    transition: width 0.4s ease-in-out;
}

.searchBook input[type=text]:focus {
    width: 100%;
}

.foot{
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: #262626;
    color: white;
    text-align: center;
}
.col-md-12 i{
    margin:0px 10px 20px 10px;
    transition: 1s;
    color: white;
}
.footer-copyright{
    margin: 10px;
}
.col-md-12 i:hover{
    transform: scale(1.2);
}
.footer-copyright a{
    font-size: 15px;
    color: white;
}
.footer-copyright a:hover{
    color: white;
}